<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:if="${pop} != null" class="overlay" id="center">
        <div class="row justify-content-center">
            <div th:if="${pop} == 'green'" class="col-md-5 pop-up-success">
                <i class="fa fa-check-circle" aria-hidden="true" ></i>
                <p th:text="${msg}"></p>
                <a th:href="@{/content}" class="btn">
                    OK
                </a>
            </div>
            <div th:if="${pop} == 'notification'" class="col-md-5 pop-up-success">
                <br>
                <p th:text="${msg}"></p>
                <br>
                <div th:if="${subMsg} != ''">
                    <span class="sub-msg" th:text="${subMsg}"></span>
                    <br>
                    <br>
                </div>
<!--                <span class="sub-msg" th:text="${subMsg}"></span>-->
<!--                <br>-->
<!--                <br>-->
                <span class="sub-msg2" th:text="${subMsg2}"></span>
                <br>
                <br>
                <div class="row justify-content-center">
                    <a th:href="@{/content}" class="btn but-outline">
                        Tidak
                    </a>
                    <a th:href="@{/content/delete/} + ${kodeJob}" class="btn but-danger" style="margin-left: 10px;">
                        Ya
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="page-wrapper">
        <div class="row justify-content-center">
            <div class="frame-body-content">
                <div class="frame-titles">
                    <p>Manage Jobs</p>
                </div>
                <div  sec:authorize="hasAnyAuthority('Factory Manager', 'Admin')">
                    <label class="labelTag" >
                        <a class="checkboxTag" th:href="@{/content/add-job}">
                            <span class="spanTag">Post A Job</span>
                        </a>
                    </label>
                </div>
                <div class="row justify-content-center">
                    <div th:if="${pesan != null}" class="pesan-kosong">
                        <h4 th:text="${pesan}"></h4>
                    </div>
                    <div th:if="${pesan == null}" class="tableJobs-content">
                        <table class="table daftar-table table-hover table-bordered">
                            <thead>
                            <tr class="bg-dark text-center">
                                <th>No</th>
                                <th>
                                    <a th:href="@{'/content/sorted/?sortField=position&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                        <div th:if="${sortField} != 'position'">
                                            <i class="fa fa-sort"></i>
                                            Posisi
                                        </div>
                                        <div th:if="${sortField} == 'position'">
                                            <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                            <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                            Posisi
                                        </div>
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/content/sorted/?sortField=department&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                        <div th:if="${sortField} != 'department'">
                                            <i class="fa fa-sort"></i>
                                            Department
                                        </div>
                                        <div th:if="${sortField} == 'department'">
                                            <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                            <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                            Department
                                        </div>
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/content/sorted/?sortField=location&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                        <div th:if="${sortField} != 'location'">
                                            <i class="fa fa-sort"></i>
                                            Lokasi
                                        </div>
                                        <div th:if="${sortField} == 'location'">
                                            <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                            <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                            Lokasi
                                        </div>
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/content/sorted/?sortField=datePosted&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                        <div th:if="${sortField} != 'datePosted'">
                                            <i class="fa fa-sort"></i>
                                            Tanggal Dibuat
                                        </div>
                                        <div th:if="${sortField} == 'datePosted'">
                                            <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                            <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                            Tanggal Dibuat
                                        </div>
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/content/sorted/?sortField=listApplicant&sortDir=' + ${reverseSortDir}}" style="color:white;">
                                        <div th:if="${sortField} != 'listApplicant'">
                                            <i class="fa fa-sort"></i>
                                            Jumlah Pelamar
                                        </div>
                                        <div th:if="${sortField} == 'listApplicant'">
                                            <i th:if="${reverseSortDir} == 'asc'" class="fa fa-caret-down"></i>
                                            <i th:if="${reverseSortDir} == 'desc'" class="fa fa-caret-up"></i>
                                            Jumlah Pelamar
                                        </div>
                                    </a>
                                </th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                    th:each="job, iterationStatus : ${listJob}"
                            >
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${job.position}"></td>
                                <td th:text="${job.department.namaDepartment}"></td>
                                <td th:text="${job.location.namaLocation}"></td>
                                <td th:text="${job.datePosted}"></td>
                                <td th:text="${job.listApplicant.size()}"></td>
                                <td>
                                    <div class="inline-buts" id="table-nowrap">
                                        <a th:href="@{/content/confirmation-delete/} + ${job.kodeJob}"
                                           class="btn but-danger">Hapus</a>
                                        <a th:href="@{/content/job/} + ${job.kodeJob}"
                                           class="btn but-danger-outline">Detail</a>
                                    </div>
                                </td>
                            </tr>


                            </tbody>


                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav th:replace="fragments/fragment :: footer"></nav>

</body>